<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.la.xuecheng.content.mapper.TeachplanMediaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.la.xuecheng.content.model.po.TeachplanMedia">
        <id column="id" property="id" />
        <result column="media_id" property="mediaId" />
        <result column="teachplan_id" property="teachplanId" />
        <result column="course_id" property="courseId" />
        <result column="media_fileName" property="mediaFilename" />
        <result column="create_date" property="createDate" />
        <result column="create_people" property="createPeople" />
        <result column="change_people" property="changePeople" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, media_id, teachplan_id, course_id, media_fileName, create_date, create_people, change_people
    </sql>

    <resultMap id="childrenNodeMap" type="com.la.xuecheng.content.model.dto.TeachPlanTreeNode">
        <id column="id" property="id"/>
        <result column="pname" property="pname"/>
        <result column="parentid" property="parentid" />
        <result column="grade" property="grade" />
        <result column="mediaType" property="mediaType" />
        <result column="stratTime" property="startTime" />
        <result column="endTime" property="endTime" />
        <result column="orderby" property="orderby" />
        <result column="courseId" property="courseId" />
        <result column="coursePubId" property="coursePubId" />
        <association property="teachplanMedia" javaType="com.la.xuecheng.content.model.po.TeachplanMedia">
            <id column="teachplanMeidaId" property="id"/>
            <result column="mediaFilename" property="mediaFilename"/>
            <result column="mediaId" property="mediaId"/>
        </association>
    </resultMap>

    <select id="getChildrenNodes" parameterType="long" resultMap="childrenNodeMap">
        select
            t.id            id,
            t.pname         pname,
            t.parentid      parentid,
            t.grade         grade,
            t.media_type    mediaType,
            t.start_time    stratTime,
            t.end_time      endTime,
            t.orderby       orderby,
            t.course_id     courseId,
            t.course_pub_id coursePubId,
            m.media_fileName mediaFilename,
            m.id             teachplanMeidaId,
            m.media_id       mediaId
        from teachplan t left join teachplan_media m on t.id = m.teachplan_id
	    where t.parentid = #{parentId}
		order by t.orderby
    </select>

</mapper>
